<!DOCTYPE html>
<html>
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <% include ../static/partials/navbar.ejs %>

        <main class="container">
            <% include ../static/partials/messages.ejs %>
            
            <h1><%= list.title %></h1>
                <% if(currentUser) { %>
                    <a href="/lists/<%=list.id%>/cards/new" class="btn btn-secondary">New Recipe</a>
                        
                    <a href="/lists/<%= list.id %>/edit" class="btn btn-warning">Edit</a>
                            <form style="display:initial" action="/lists/<%= list.id %>/destroy" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                     
                <% } %>
            <p><%= list.description %></p>
            <hr>

            <h1>Recipes</h1>

            <ul class="list-group">
                <% list.cards.forEach((card) => { %>
                    <li class="list-group-item">
                        <a href="/lists/<%= list.id %>/cards/<%= card.id %>"> <%= card.name %> </a>
                    </li>
                <% }) %>
            </ul>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>
</html>